*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about h2{
    font-family: 'Lexend Zetta', sans-serif;
    color: #E7A21E;
    font-size: 40px;
}

.about{
    display: grid;
    justify-items: center;
    background-color: black;
}

.text_and_image{
    display: flex;
    width: 80%;
    align-items: center;
}

.text_and_image p{
    width: 60%;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 24px;
    color: white;
}

.imagenAbout{
    background-image: url('../Images/fotoderick.png');
    aspect-ratio: 1.289 ;
    background-size: cover;
    width: 40%;
}