*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact{
    background-color: black;
    display: grid;
    gap: 3rem;
    justify-content:center;
    padding-bottom: 10%;
}

.contact a{
    color: white;
}

.contact h2 {
    color: #E7A21E;
    text-align: center;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 40px;
}

.contact div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width:800px){
    .contact h2{
        font-size: 25px;
    }
    .contact a{
        font-size: 20px;
    }
    .contact img{
        width: 40px;
    }
}