*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    background-color: black;
    width: 100%;
    display: grid;
    align-content: center;
    padding-bottom: 10%;
    justify-content: center;
    height: 100vh;
}

.home h1{
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 40px;
    cursor: pointer;
}


@media screen and (max-width:510px){

    .home h1 {
        font-size: 25px;
    }
}