*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    background-color: black;
    width: 100%;
    display: grid;
    justify-content: center;


}

h1{
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 40px;
}