*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.projects{
    background-color:black;
    display: grid;
    justify-items: center;
    font-family: 'Lexend Zetta', sans-serif;
    padding: 5% 0 10% 0;
}

.cardProject{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    width: 60%;
    gap: 4rem;
    padding-bottom: 5%;
}



.projects h2 {
    color: #E7A21E;
    font-size: 40px;
    padding-bottom: 5%;
}

.projects h3,p{
    color: white;
}

.projects h3{
    font-size: 24px;
    padding-bottom: 1rem;
}
.projects p{
    font-size: 20px;
    padding-bottom: 1rem;
}

.cardProject img{
    width: 100%;
}

.Animation2{
    opacity: 0;
}
.Animation1{
    opacity: 0;
}

.technologies img{
    width: 60px;
    margin-right: 1rem;
}

@media screen and (max-width:800px){
    .projects h2{
        font-size: 25px;
    }

    .cardProject{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding-bottom: 10%;
    }
}

@media screen and (max-width:1024px){
    .projects h3{
        font-size: 20px;
    }
    .projects p{
        font-size: 15px;
    }
    .technologies img{
        width: 40px;
    }
}

/* @media screen and (min-width:1024px){
    
    .projects p{
        width: 324.47px;
    }
} */

@media screen and (max-width:425px){
    .projects h3{
        font-size: 18px;
    }
    .projects p{
        font-size: 13px;
    }
    .technologies img{
        width: 30px;
    }
}

