*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.SkillsSection{
    display: grid;
    justify-items: center;
    background-color: black;
    padding: 5% 0px 5% 0;
}

.SkillsSection h2{
    color: #E7A21E;
    font-size: 40px;
    font-family: 'Lexend Zetta', sans-serif;
    padding-bottom: 5%;

}

.skills{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5,1fr);
    width: 50%;
    gap: 2rem;
}

.logoSkill{
    aspect-ratio: 1;
}

.skillsLogo1{
    background-image: url(../Images/jslogo.png);
    background-size: cover;
    border-radius: 8px;
}
.skillsLogo2{
    background-image: url(../Images/reactlogo.png);
    background-size: cover;
}
.skillsLogo3{
    background-image: url(../Images/htmlLogo.png);
    background-size: cover;
}
.skillsLogo4{
    background-image: url(../Images/logocss.png);
    background-size: cover;
}
.skillsLogo5{
    background-image: url(../Images/logogit.png);
    background-size: cover;
}
.skillsLogo6{
    background-image: url(../Images/logonext.png);
    background-size: cover;
}
.skillsLogo7{
    background-image: url(../Images/logomongo.png);
    background-size: cover;
}
.skillsLogo8{
    background-image: url(../Images/logonode.png);
    background-size: cover;
}
.skillsLogo9{
    background-image: url(../Images/logoexpress.png);
    background-size: cover;
}
.skillsLogo10{
    background-image: url(../Images/logosass.png);
    background-size: cover;
}

@media screen and (max-width:800px){
    .SkillsSection h2{
        font-size: 25px;
        padding-bottom: 10%;
    }

    .skills{
        width: 90%;
    }

    .SkillsSection{
        padding: 10% 0px 35% 0;
    }
}

@media screen and (max-width:425px){

    .skills{
        grid-template-columns: repeat(3,1fr);
        width: 80%;
    }
}