*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.training{
    background-color: black;
    display: grid;
    justify-items: center;
    width: 100%;
    padding: 10% 0px 5% 0 ;
}

.training h2{
    color: #E7A21E;
    font-size: 40px;
    font-family: 'Lexend Zetta', sans-serif;
    padding-bottom: 5%;

}

.cardsTraining{
    width: 90%;
    display: grid;
    gap: 2rem;
}

.training h3{
    color:white;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 18px;
}

.trainingCont{
    display: flex;
    padding: 2rem;
    border-radius: 2rem;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
}

.trainCont1{
    background: rgb(165,130,38);
background: linear-gradient(180deg, rgba(165,130,38,1) 0%, rgba(38,77,92,0.19) 100%);
}

.trainCont2{
    background: rgb(165,130,38);
background: linear-gradient(180deg, rgba(165,130,38,1) 0%, rgba(85,43,203,0.25) 100%);
}

@media screen and (max-width:800px){

    .training h2{
        font-size: 25px;
        padding-bottom: 10%;
    }

    .trainingCont{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
    }

    .training h3 {
        font-size: 14px;
    }
    
}